header {
    position: fixed;
    left: 0;
    width: 100%;
    right: 0;

    .bar {
        padding: 0.25em 1em;
        max-width: 1224px;
        margin-inline: auto;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid rgb(32, 32, 32); */
        background-color: rgba(182, 178, 178, 0.241);
        backdrop-filter: blur(25px);
    }
    .header__title-bar {
        display: flex;
        margin: 0;
    }
    .header__cart-detail {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 35px;
    }
}

@media (max-width: 768px) {
    .header__cart-detail {
        gap: 10px !important;
    }
}

button {
    border-radius: 5px;
}
